#game .row > * {
	margin-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#game.game-over .grid-card.match {
	transform: rotateY(180deg);
}

.grid-card {
	position: relative;
	transition: all 0.4s linear;
	transform-style: preserve-3d;
}

.grid-card {
	width: 100%;
	aspect-ratio : 1 / 1;
}

.back,
.front {
	width: 100%;
	height: 100%;
}

.back,
.front {
	position: absolute;
	backface-visibility: hidden;
}

.front {
	background: #fab942 url('https://songbirdz.cc/static/media/home1.a3ef786a0b463d289f63.png') no-repeat center center /
	contain;
	border: inset 10px transparent;
    box-sizing: border-box;
}

.back {
	transform: rotateY(180deg);
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.selected {
	transform: rotateY(180deg);
}

.match .front {
	background: white;
}
