.listing-page .birds-table td {
	height: calc(.5rem + 75px);
	font-size: 14px;

	@media (min-width: 576px) { font-size: 1rem; }

}

.listing-page .birds-table td > div {
	display: flex;
	align-items: center;
	height: 100%;
}

.listing-page .birds-table svg[data-testid="ockAvatarDefaultSvg"] {
	display: none;
}

.listing-page .pagination .page-item.active .page-link {
	background-color: var(--bs-success);
}

.listing-page .pagination .page-item:not(.active):not(.disabled):hover .page-link {
	background-color: var(--bs-gray-500);
}
